.navbar-header .side.left .links li:hover,
.navbar-header .side.right .links:first-child li:hover {
    transition: .3s;
    background-color: rgba(0, 0, 0, 0.2);
}

.btn:hover {
    text-decoration: underline;
}

.faq .expandable .question {
    cursor: pointer;
}

.faq .expandable:hover > .content {
    transition: 1.5s;
    height: 100%;
    overflow: auto;
    padding: 1rem 0 1rem 0;
}

.design-it .box-small:hover {
    cursor: pointer;
    transition: .5s;
    border: .8rem solid rgba(255, 255, 255, 0.5);
}