.btn {
    white-space: nowrap;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.btn .blue {
    color: white;
    background-color: #0061ff;
}

.btn .white {
    color: black;
    background-color: white;
}

.btn.white.bordered {
    color: black;
    border: 1px solid;
}

.prices .subscription-period .radio:before {
    cursor: pointer;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 5px #0463fd solid;
    border-radius: 100%;
    content: 'oo';
    color: white;
}

.box.enterprise .pricing .btn {
    color: white;
}

/*  todo: fix bug when button cover entire div line (see web page)*/