.header {
    height: 35rem;
}

.navbar-header {
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.navbar-header * {
    height: 100%;
}

.logo img {
    max-height: 35%;
}

.navbar-header .side {
    display: flex;
    flex-direction: row;
    margin-inline: 1rem;
    gap: 1.5rem;
}

.navbar-header .side div *,
.navbar-header .side .links * {
    display: flex;
    align-items: center;
}

.navbar-header .side.right .login-signup {
    display: flex;
    align-items: center;
}

.navbar-header .links li {
    padding-inline: 1rem;
}

.navbar-header .links.login-signup > li {
    cursor: auto;
}

.navbar-header .side .links{
    display: flex;
    flex-direction: row;
}
