* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

ul li {
    list-style: none;
}

.navbar-header .links li {
    cursor: pointer;
}

.navbar-header {
    background-color: white;
}

.jumbo {
    background-color: #b4d0e7;
}

.jumbo .title {
    font-size: 2.5em;
    font-weight: bold;
}

.section.prices .title {
    font-size: 1.5rem;
    font-weight: bold;
}

section.prices .subscription-box {
    border: 1px rgba(0, 0, 0, 0.3) solid;
}

section .subscription-choice-container .option {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
}
