* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

ul li {
    list-style: none;
}

.navbar-header .links li {
    cursor: pointer;
}

.navbar-header {
    background-color: white;
}

.jumbo {
    background-color: #b4d0e7;
}

.jumbo .title {
    font-size: 2.5em;
    font-weight: bold;
}

section.prices .title {
    font-size: 1.7rem;
    font-weight: bold;
}

section p {
    font-size: 0.9rem;
}

section .subscription-choice-container .option {
    text-align: center;
    /*border-width: 1px 1px 0 1px;*/
    /*border-style: solid;*/
    /*border-color: rgba(0, 0, 0, 0.3);*/
}

.subscription-choice-container .box {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.subscription-choice-container .box .option{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.subscription-details div:nth-child(n+2) {
    font-size: .9rem;
}

.subscription-details .pricing div:last-child {
    color: rgba(0, 0, 0, 0.6);;
}

.subscription-details hr{
    color: rgba(0, 0, 0, 0.3);
}

.subscription-details .privileges i {
    color: #0061ff;
}

.subscription-details .privileges div:first-child {
    font-weight: bold;
}

section.client-reviews .container h1 {
    font-size: 2rem;
    margin-top: 1.5rem;
}

/*  section design-it  */
.design-it .box-small img{
    filter: invert(100%);
}

    /*  box left side  */
.design-it .box-big.left .box-small:first-child {
    background-color: #a1d19a;
    border: .8rem solid #cfe7cb;
}
.design-it .box-big.left .box-small:nth-child(2) {
    background-color: #60082b;
}
.design-it .box-big.left .box-small:nth-child(3) {
    background-color: #0092cc;
}
.design-it .box-big.left .box-small:last-child {
    background-color: #fd1c1c;
}

    /*  box middle side  */
.design-it .box-big.middle {
    background-color: #e7e7e7;
}
.design-it .box-big.middle hr {
    color: rgba(0, 0, 0, 0.3);
}

    /*  box right side  */
.design-it .box-big.right .box-small:first-child {
    background-color: #d3001f;
}
.design-it .box-big.right .box-small:nth-child(2) {
    background-color: #b3cee5;
}
.design-it .box-big.right .box-small:nth-child(3) {
    background-color: #0d2480;
}
.design-it .box-big.right .box-small:last-child {
    background-color: #fdd630;
}

    /*  container bot color  */
.design-it .container-bot {
    background-color: #b3cee5;
}

.container-bot .try-for-free h1{
    font-size: 1.6rem;
    color: #61082b;
}
